$full-width: 100%;
$full-height: 100%;
$main-font-family: Poppins;

h1 {
  font-size: 16px;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $main-font-family;
}

.app {
  width: $full-width;
	height: $full-height;
	background: #F2F2F2;
	transition: 0.5s;


  &::before  {
    display: block;
    content: "";
    width: $full-width;
    height: 0;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.5s ease, height 1ms 0.5s ease;
    -moz-transition: opacity 0.5s ease, height 1ms 0.5s ease;
    -o-transition: opacity 0.5s ease, height 1ms 0.5s ease;
    transition: opacity 0.5s ease, height 1ms 0.5s ease;
  }
}

.logo {
  background: #8446CF;
  background: url(../images/bg1.png) no-repeat center center;
  background-size: cover;
}

@mixin app-section() {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: $full-height;
  overflow: hidden;
}

.left-section {
  @include app-section;
  background-color: #F2F2F2;
  left: 0;
  z-index: 1;
}

.right-section {
  @include app-section;
  padding: 0 50px 0 50px;
  background: #FFFFFF;
  z-index: 99;
  overflow-y: auto;
}

.main-logo {
	padding: 50px 0 0 0;
	text-align: left;
}

.intro {
	padding-top: 100px;
	text-align: left;

  h1 {
  	font-family: $main-font-family;
  	font-size: 42px;
  	font-weight: 600;
  	letter-spacing: -2px;
  	line-height: 1.2;
  	margin: 0 0 15px 0;
  }

  h1 {
  	color: #6603C9;
  }

  h3 {
  	font-family: $main-font-family;
  	font-size: 16px;
  	font-weight: 600;
  	color: #434343;
  	text-transform: uppercase;
  	letter-spacing: 0;
  	line-height: 1.2;
  	margin: 50px 0 30px 0;
  }

  h4 {
  	font-family: $main-font-family;
  	font-size: 14px;
  	font-weight: 600;
  	color: #A1A1A1;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	line-height: 1.2;
  	margin: 0 0 20px 0;
  }

  p {
  	font-family: $main-font-family;
  	font-size: 16px;
  	font-weight: 400;
  	color: #A1A1A1;
  	letter-spacing: 0px;
  	line-height: 1.5;
  	margin: 0 0 20px 0;
  }

  a {
  	display: inline-block;
  	margin-right: 15px;
    padding-right: 4px !important;
  }

  a img {
  	width: 150px;
  	-webkit-transition: 0.2s;
  	-moz-transition: 0.2s;
  	-o-transition: 0.2s;
  	transition: 0.2s;
  }

  a img:hover {
  	opacity: 0.9;
  }


}

footer {
	margin-top: 50px;
	margin-bottom: 20px;
	position: relative;

  ul {
  	display: inline-block;
  	list-style-type: none;
  	float: right !important;
  }

  ul li {
  	display: inline;
    padding-left: 4px !important;
  }

  ul li a {
  	display: inline;
  	font-family: $main-font-family;
  	font-size: 12px;
  	font-weight: 400;
  	padding-right: 20px;
  	color: #072DEF;
  	text-decoration: none;
  }

  a:hover, a:focus {
    color: #6603C9;
    text-decoration: line-through;
  }
}

.footer-credits {
  font-family: Work Sans;
  font-size: 14px;
  margin-top: 20px;
}

@mixin scrolling-touch ()
{
   ul{
    list-style-type:none;
    li{
      color:red;
    }
  }
}

@media only screen and (max-width : 801px) {

  .right-section{
  		position: relative;
  		width: $full-width;
  }

  .left-section {
    position: relative;
    width: $full-width;
    min-height: 100vh;
  }

  .app  {
    .logo {
  		padding: 50px 0 0 0;
  		text-align: left;
  	}
  }

  .intro {
    padding-top: 50px;
    text-align: left;

    h1 {
      font-size: 42px;
      line-height: 1.1;
    }

    p {
      font-size: 16px;
    }
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .right-section	{
  	-webkit-overflow-scrolling: touch;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
 .right-section, .left-section	{
		-webkit-overflow-scrolling: touch;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) and (orientation: landscape) {
 .right-section	{
		-webkit-overflow-scrolling: touch;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
  .left-section {
    min-height: 100vh;
  }
}

@media only screen and (max-width: 420px) {
	.right-section {
		 padding: 0 20px 0 20px;
	}

  .intro {
    padding-top: 50px;

    h1 {
      font-size: 34px;
      line-height: 1.1;
    }
  }

	footer ul {
		display: inline-block;
		list-style-type: none;
		float: none !important;
	}
}
